{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="col-md-6">

    <p>Please enter information about your provider</p>
    <ul>
        <li><strong>Name: </strong>The name as you'd like it to appear in SHARE</li>
        <li><strong>URL: </strong>The URL linking back to the homepage of your provider</li>
        <li><strong>Favicon: </strong>The favicon image that you'd like to represent your provider</li>
    </ul>
    <form action="/provider_information/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="submit" />

    </form>
</div>


{% endblock %}
