{% extends "registration/registration_base.html" %}
{% load static %}


{% block content %}

        <div class="row-fluid">
            <div class="well" style="width: 520px; margin-left: auto; margin-right: auto">
                <div class="row-fluid">
                    <div>
                        <h3>SHARE Push API Provider Information</h3>
                        <p>Use this information when pushing data to the SHARE API.</p>
                        <br/>
                        <p class="lead"><strong>Token:</strong> {{ token }}</p>
                        <div><p class="lead"><strong>Provider Name:</strong> {{ longname }}</p></div>
                        <div><p class="lead"><strong>Provider URL:</strong> {{ url }}</p></div>

                        <p><a href="{% url 'index' %}">Back to the Push API Staging Area</a></p>
                        <p>For more information on the SHARE API and authenticaion, see
                        the <a href="/help/#!/SHARE/post_share_data" target="_blank">API Documentation</a>.</p>
                    </div>
                </div><!-- /row fluid -->
            </div><!--/.well-->
        </div><!-- /.row-fluid -->

{% endblock %}
