{% extends "provider_registration/base.html" %}

{% block content %}

<div class="container">
    <h1>Provider List</h1>
    {% if latest_provider_list %}
        <ul>
        {% for provider in latest_provider_list %}
            <li><a href="{% url 'provider_registration:detail' provider.provider_short_name %}">{{ provider.provider_short_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No providers are registered.</p>
    {% endif %}

    <div>
        <a href="pre_register">Register a new provider!</a>
    </div>
</div>
{% endblock %}
