{% extends "provider_registration/base.html" %}

{% block header_content %}
        <br/>
        <p class="lead">Start here to register a provider for SHARE Notify</p>
        <br/>
        <a type="button" class="btn btn-primary btn-lg" href="contact_information">Register a Provider</a>
{% endblock %}

{% block content %}

<hr/>

    <div class="row">
        <div class="col-xs-12">
            <p class="lead">This registration process will allow you to register your provider to be considered as a source for SHARE data.</p>

            <p>Using this information, our team will evaluate your provider's data API and make an assessment about how to best write a harvester that can include your data in SHARE.</p>

            <p>You can also push directly to our API if your data can be formatted to match the <a href="https://osf.io/wur56/wiki/Schema/" target="_blank">SHARE data schema</a>. See the <a href="https://osf.io/wur56/wiki/Pushing%20data%20directly%20to%20SHARE/" target="_blank">documentation</a> on pushing to directly to SHARE for more information.</p>
        </div>
    </div>
{% endblock %}
