{% extends "provider_registration/base.html" %}

{% block content %}
<div class="container">
<h1>
    Register a Provider<br>
    <small>Use this form to register a provider for SHARE Notify</small>
</h1>

<br>

    <div class="container">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'provider_registration:register' %}" method="post">
        {% csrf_token %}

        <div class="container">

            <h2>Contact Information</h2>
            <div class="field_entry">
                <p>Your Name</p>
                {{ form.provider_long_name }}
            </div>
            <div class="field_entry">
                <p>Your Email</p>
                {{ form.provider_long_name }}
            </div>
            <br>
            <hr>
            <h2>Basic Provider Information</h2>
            <div class="field_entry">
                <p>Name of your provider</p>
                {{ form.provider_long_name }}
            </div>

            <div class="field_entry">
                <p>{{ form.oai_provider}} This content provider is based on OAI-PMH Standards.</p>
                
            </div>

            <div class="field_entry">
                <p>Base URL</p>
                <p>Enter the base URL for your content provider. If you're entering an OAI-PMH provider, include everything before the ? in the OAI phm access url.</p>
                {{ form.base_url }}
            </div>

            <div class="field_entry">
                <p>Description</p>
                {{ form.description }}
            </div>
        </div>
        <hr>
        <div class="container">
            <h2>Metadata Sharing Questions</h2>
            <p class="lead">SHARE Notify will gather together research release event reports from the metadata you provide. Since we will be reusing your metadata and then retransmitting it to others as notifications, we need to be sure the rights to use that metadata are not encumbered.</p>
                <div class="field_entry">
                <p> {{ form.meta_tos }} Metadata gathering violates our Terms of Service.</p>
                
                </div>

                <div class="field_entry">
                    <p>{{ form.meta_privacy }} Metadata gathering violates our Privacy Policy.</p>
                </div>

                <div class="field_entry">
                    <p>{{ form.meta_sharing_tos }} Our sharing your metadata violates our Privacy Policy.</p>
                </div>

                <div class="field_entry">
                    <p>What is the license of the metadata?</p>
                    {{ form.meta_license }}
                </div>

                <div class="field_entry">
                    <p>{{ form.meta_license_extended }} The license above extends to those beyond the group that gathered it.</p>
                </div>

                <div class="field_entry">
                <p>{{ form.meta_future_license }} If unlicensed, we will explicitly license the content.</p>
                
                </div>
            </div>

        <input type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
