{% extends "provider_registration/base.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><small>Contact Information</small></li>
            <li class="active"><b>Metadata Information</b></li>
            <li><small>Provider Information</small></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <form action="{% url 'provider_registration:provider_information' %}" method="post">
            {% csrf_token %}

            {% if form.errors %}
                <div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
            {% endif %}

            <h2>Metadata Sharing Questions</h2>
            <p class="lead">SHARE Notify will gather together research release event reports from the metadata you provide. Since we will be reusing your metadata and then retransmitting it to others as notifications, we need to be sure the rights to use that metadata are not encumbered.</p>

            <div class="field_entry">
                <p>{{ form.meta_tos }} Metadata gathering violates this provider's Terms of Service.</p>
            </div>

            <div class="field_entry">
                <p>{{ form.meta_privacy }} Metadata gathering violates this provider's Privacy Policy.</p>
            </div>

            <div class="field_entry">
                <p>{{ form.meta_sharing_tos }} SHARE distributing your metadata violates this provider's Privacy Policy.</p>
            </div>

            <div class="field_entry">
                <p>What license does this provider's metadata have?</p>
                {% if form.meta_license.errors %}
                  <span class="help-block">
                    {% for error in form.meta_license.errors %}{{ error }}{% endfor %}
                  </span>
                {% endif %}
                {{ form.meta_license }}
                <p><small>Example: MIT, Apache, GPL</small></p>
            </div>

            <div class="field_entry">
                <p>{{ form.meta_license_extended }} The license above extends to those beyond the group that gathered it.</p>
            </div>

            <div class="field_entry">
                <p>{{ form.meta_future_license }} If unlicensed, this provider will explicitly license the content at a later date.</p>
            </div>
            {{ form.reg_id }}

            <input class="btn btn-primary btn-bottom" type="submit" value="Next" />
        </form>
    </div>
</div>

{% endblock %}
