{% extends "provider_registration/base.html" %}

{% block content %}
</div>


    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li >Contact Information</li>
                <li>Metadata Information</li>
                <li class="active">Provider Information</li>
            </ol>
        </div>
    </div>

    <h1>Register a Provider</h1>

    {% if error_message %}<h2><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'provider_registration:register' %}" method="post">
    {% csrf_token %}

        <div class="field_entry">
            <h2>Provider Name</h2>
            <h3>{{ name }}</h3>
        </div>

        <div class="field_entry">
            <h2>Base URL</h2>
            <h3>{{ base_url }}</h3>
        </div>

        <div class="field_entry">
            <h2>Property List</h2>
            {{ form.property_list }}
        </div>

        <div class="field_entry">
            <h2>Approved Sets</h2>
            {{ form.approved_sets }}
        </div>

    {{ form.provider_long_name}}
    {{ form.reg_id }}

    <input type="submit" value="OK" />
    </form>
</div>

{% endblock %}
