{% extends "provider_registration/base.html" %}

{% block content %}
</div>

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><small>Contact Information</small></li>
            <li><small>Metadata Information</small></li>
            <li class="active"><b>Provider Information</b></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <h1>Register a Provider</h1>

        <form action="{% url 'provider_registration:register' %}" method="post">
        {% csrf_token %}

            <div class="field_entry">
                <h2>Provider Name</h2>
                <h3>{{ name }}</h3>
            </div>

            <div class="field_entry">
                <h2>Base URL</h2>
                <h3>{{ base_url }}</h3>
            </div>

            <div class="field_entry">
                <h2>Property List</h2>
                {{ form.property_list }}
            </div>

            {{ form.reg_id }}
            {{ form.provider_long_name}}

        <input class="btn btn-primary btn-bottom" type="submit" value="Submit" />
        </form>
    </div>
</div>

{% endblock %}
