{% extends "provider_registration/base.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h1>Registration Paused</h1>
        <p class="lead">We cannot continue with the registration process at this time.</p>

        <p>Please contact <a href="mailto:share@cos.io">share@cos.io</a> to discuss.</p>

        <a class="btn btn-default" href="/provider_registration">Register Another Provdier</a>

        <a class="btn btn-default" href="http://osf.io/share/">Back to SHARE Notify</a>
    </div>
</div>

{% endblock %}
